<template>
  <div class="wrapper container mx-auto d-flex justify-content-center flex-column">
    <h1 class="mx-auto text-center">{{ textOnLabel }}</h1>
    <form action="">
      <textarea v-model="inputedText" class="input d-block w-100" rows="10" cols="50" placeholder="Enter text"></textarea>
      <div class="row justify-content-between">
        <button type="button" @keydown.enter="validateInput()" @click="validateInput()" class="btn btn-secondary col-xl-3 col-12">{{ textOnButton }}</button>
        <button type="button" @click="clear" class="btn btn-secondary col-xl-3 col-12">Clear</button>
      </div>
    </form>
    <textarea v-if="showResponse" readonly v-model="decrypted" class="input d-block w-100" rows="10" cols="50" placeholder="Decrypted text"></textarea>
  </div>
  <hr class="bg-dark w-100">
  <p class="mx-auto text-center">Created by <a href="https://t.me/gritsev77">Hrytsev Ivan</a>, student of CI-212. All rights reserved.</p>
</template>

<script>
import '../node_modules/bootstrap/dist/css/bootstrap.css'

export default {
  name: 'App',
  data() {
    return {
      showResponse: false,
      inputedText: '',
      decrypted: '',
      textOnButton: 'Try to decrypt',
      textOnLabel: `Enter text to decrypt (XOR)`,
      xorKey: '',
    }
  },
  methods: {
    validateInput() {
      if (this.inputedText === '') {
        alert("Enter text")
        return;
      }
      const key = prompt("Enter your XOR key");
      if (key === null || key === "") {
        alert("Key is not valid");
        return;
      }else
        this.xorKey=key

      this.decrypt()
    },
    decrypt() {
      let input = this.inputedText;
      let newText = '';
      for (let i = 0; i < input.length; i++) {
        let char = input.charAt(i); // Отримати символ зі введеного тексту
        let newChar = String.fromCharCode(char.charCodeAt(0) ^ this.xorKey.charCodeAt(i % this.xorKey.length)); // XOR операція з кожним символом введеного тексту та відповідним символом ключа (з врахуванням довжини ключа)
        newText += newChar; // Додати розшифрований символ до нового тексту
      }
      this.showResponse = true; // Показати розшифрований текст
      this.decrypted = newText; // Зберегти розшифрований текст у властивості
    }
    ,
    clear() {
      if (this.inputedText === '') {
        alert("There is no text")
      }
      this.inputedText = '';
      this.showResponse = false;
      this.textOnLabel = 'Enter text to decrypt (XOR)';
      this.textOnButton = 'Try to decrypt';
    }
  }
}
</script>

<style>
.wrapper {
  height: 90vh;
}
textarea {
  margin-bottom: 8px;
  min-height: 50px;
}
button {
  margin-bottom: 5px;
}
</style>
